[submodule "font8x8"]
	path = font8x8
	url = https://github.com/NiLuJe/font8x8.git
	branch = fbink
[submodule "stb"]
	path = stb
	url = https://github.com/NiLuJe/stb.git
	branch = fbink-1.26
[submodule "libunibreak"]
	path = libunibreak
	url = https://github.com/adah1972/libunibreak
[submodule "i2c-tools"]
	path = i2c-tools
	url = https://git.kernel.org/pub/scm/utils/i2c-tools/i2c-tools.git
[submodule "libevdev"]
	path = libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
