# Ignore build output directories
Release/
Debug/
Kobo/
Kindle/
# Same, for our vendored libunibreak
LibUniBreakBuild/
libunibreak.built
# KDevelop
FBInk.kdev4
.kdev4/
# VSCode
.vscode
# Global
GPATH
GRTAGS
GTAGS
