# Ignore build output directories
Release/
Debug/
Kobo/
Kindle/
# Same, for our vendored libunibreak
LibUniBreakBuild/
libunibreak.built
# KDevelop
FBInk.kdev4
.kdev4/
# Uncompressed & split Unifont
fonts/unifont-8x16.hex
fonts/unifont-16x16.hex
# unibdf2hex
tools/unibdf2hex
# VSCode
.vscode
# Global
GPATH
GRTAGS
GTAGS
